body {
    background: #1c2530;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #707c85;
}

.wrapper-cover {
    width: 100%;
    height: 50vh;
    min-height: 200px;
    background: url(../img/cover.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    height: 50vh;
    min-height: 300px;
}

.main-logo {
    position: relative;
    width: 220px;
    display: block;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

.wrapper-txt {
    text-align: center;
    color: #707c85;
    max-width: 600px;
    font-size: 14px;
    line-height: 22px;
    margin: 40px auto 30px auto;
    padding: 0 20px;
}

.wrapper-txt-bold {
    text-align: center;
    color: #707c85;
    max-width: 700px;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 0 20px;
}

.footer-txt {
    text-align: center;
    color: #eee;
    opacity: 0.9;
    letter-spacing: 1px;
    font-size: 12px;
    display: inline;
    padding: 10px;
}

.footer-txt a {
    color: #eee;
    text-decoration: none;
}

.footer-txt a:hover {
    opacity: 0.8;
}

@media (max-width:500px) {
    .footer-txt {
        display: block;
    }
}

@media (max-width:400px) {
    .main-logo {
        width: 180px;
        padding: 30px 0 0 0;
    }
    .footer-txt {
        display: block;
    }
    .wrapper-cover {
        height: 40vh;
    }
    .wrapper {
        height: 60vh;
    }
    .wrapper-txt {
        font-size: 12px;
        line-height: 20px;
        margin: 30px auto 30px auto;
        padding: 0 20px;
    }
    .wrapper-txt-bold {
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 0 20px;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 12px;
    }
}
